input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}

input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
    appearance: textfield; /* For other browsers */
    text-align: center; /* Centers the text horizontally inside the input */
    border: none;
    width: 100%; /* Makes the input width match the table cell */
    box-sizing: border-box; /* Ensures padding and borders are included in width */}

.sudoku_site{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 15px;
    flex-wrap: wrap;}

.table_container{
    width: 90vw;
    height: 90vw;
    max-width: 450px;
    max-height: 450px;
    aspect-ratio: 1 / 1;
    margin-right: 50px;
    position: relative;}

.sudoku_table{
    border: 2px solid rgb(69, 69, 160);
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 100%;
    height: 100%;}

td{
    border: 1px solid rgb(69, 69, 160, 0.5);
    width: calc(100% / 9);
    height: calc(100% / 9);
    text-align: center;
    padding:0}

tr.thickrow{
    border-bottom: 2px solid rgb(69, 69, 160);}

td:nth-child(3){
    border-right: 2px solid rgb(69, 69, 160);}

td:nth-child(6){
    border-right: 2px solid rgb(69, 69, 160);}

.original{
    color: black;
    font-family: "Noto Sans", serif;
    font-size: 28px;
    font-weight: 300;}
    
.result{
    color: rgb(95, 95, 225);
    font-family: "Noto Sans", serif;
    font-size: 28px;
    font-weight: 300;}

.textbox{
    max-width: 442px;
    flex-direction: column;
    justify-content: space-between;
    max-height: 442px;}

.text{
    font-family: "Noto Sans", serif;
    font-size: 22px;
    font-weight: 400;
    color: rgb(95, 95, 225);
    display: flex;
    align-items: center;}

.smalltext{
    font-family: "Noto Sans", serif;
    bottom: -20px;
    font-size: 12px;
    font-weight: 400;
    color: black;
    display: flex;
    align-items: center;
    position: absolute;}

.button{
    font-family: "Noto Sans", serif;
    font-size: 22px;
    font-weight: 500;
    padding: 12px 22px;
    background-color: rgb(95, 95, 225);
    color: white;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    transition: opacity 0.3s, box-shadow 0.3s;}

.button:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 3px 3px 6px rgba(95, 95, 225,0.5);}

/*.button:hover {
    transform: rotate(10deg);} /*

/*.button:hover {
    animation: shake 0.3s ease-in-out infinite alternate;}

@keyframes shake {
    0% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }}*/

    