<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sudoku Solver</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='sudoku_solver.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <form class="sudoku_site" method="POST" action="{{ url_for('index') }}">
                <div class="sudoku_table">
                    <table>
                        {% for i in range(1,10) %}
                            {% if i // 3 - i / 3 == 0 %}
                                <tr class="thickrow">
                                    {% for j in range(1,10) %}
                                        {% if [i,j] in found_data %} 
                                            <td><input class="result" type="number" min="1" max="9" step="1" name="num{{ i }}{{ j }}" value="{{ result[i-1][j-1] }}"> </td>
                                        {% else %}
                                            <td><input class="original" type="number" min="1" max="9" step="1" name="num{{ i}}{{ j }}" value="{{ result[i-1][j-1] }}"> </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% else %}  
                                <tr>
                                    {% for j in range(1,10) %}
                                        {% if [i,j] in found_data %} 
                                            <td><input class="result" type="number" min="1" max="9" step="1" name="num{{ i }}{{ j }}" value="{{ result[i-1][j-1] }}"> </td>
                                        {% else %}
                                            <td><input class="original" type="number" min="1" max="9" step="1" name="num{{ i}}{{ j }}" value="{{ result[i-1][j-1] }}"> </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="textbox">
                    <div class="text">
                        <p style="margin: 0px;">Pop in your Sudoku, and solve</p>
                        <p style="margin-top: 0px; margin-bottom: 40px;">it at lightning speed &#x26A1; !</p>
                    </div>
                    <div>
                        <button class="button" type="submit">solve</button> 
                    </div>
                    <div class="text">
                        <p style="margin-top: 40px;">{{ print }}</p>
                    </div>
                    <div class="smalltext">
                        <p style="margin-top: 150px;"">(to reset, please re-enter "janvanvau.com" in the browser window)</p>
                    </div>
                </div>
        </form>  
    </body>
</html>
