<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sudoku Solver</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='sudoku_solver.css') }}">
    </head>

    <body>
        <h2>Enter Your Sudoku:</h2>
        <form method="POST" action="/">

            <div class="cell_grid">
                <div> <input class="top_left_cell" type="number" min="1" max="9" step="1" name="num11"> </div>   
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num12"> </div>
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num13"> </div>
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num14"> </div>
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num15"> </div>
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num16"> </div>
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num17"> </div>
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num18"> </div>
                <div> <input class="top_cell" type="number" min="1" max="9" step="1" name="num19"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num21"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num22"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num23"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num24"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num25"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num26"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num27"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num28"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num29"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num31"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num32"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num33"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num34"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num35"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num36"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num37"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num38"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num39"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num41"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num42"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num43"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num44"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num45"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num46"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num47"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num48"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num49"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num51"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num52"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num53"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num54"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num55"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num56"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num57"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num58"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num59"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num61"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num62"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num63"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num64"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num65"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num66"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num67"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num68"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num69"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num71"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num72"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num73"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num74"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num75"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num76"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num77"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num78"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num79"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num81"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num82"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num83"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num84"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num85"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num86"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num87"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num88"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num89"> </div>
            </div>

            <div class="cell_grid">
                <div> <input class="left_cell" type="number" min="1" max="9" step="1" name="num91"> </div>   
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num92"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num93"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num94"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num95"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num96"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num97"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num98"> </div>
                <div> <input class="cell" type="number" min="1" max="9" step="1" name="num99"> </div>
            </div>

            <button type="submit">Calculate</button> 
        
        </form>

        {% if result %}
            <h2>Result:</h2>
            <p>{{ result }}</p>
        {% endif %}
    </body>
</html>